# Makefile Preamble
snippet make-pre
	## PREAMBLE TO DEAL WITH MAKEFILE MAGIC
	SHELL := bash
	.ONESHELL:
	.SHELLFLAGS := -eu -o pipefail -c
	.DELETE_ON_ERROR:
	MAKEFLAGS += --warn-undefined-variables
	MAKEFLAGS += --no-builtin-rules
	.RECIPEPREFIX = >
	## END OF THE PREAMBLE
